.nav-container {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 48px;
  padding-left: 8%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0px 1rem;
  transition: 0.3s;
  height: 100%;
}

.nav-item:hover {
  color: var(--white);
  background-color: var(--pink);
}

.logo{
  height: 2.5rem;
  width: auto;
  padding: 2rem;
}
