

.titleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* padding-top: 48px; */
	width: 100%;
	gap: 50px;
	background-color: var(--navy);
	font-family: Third-Rail;
	color: white;
}

.leftContainer {
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100%; */
}

.titleImg {
	width: 300px;
}

.rightContainer {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	color: var(--white); */
}

@keyframes floating{
	0%{
		transform: translate(0, 0);
		text-shadow: 5px 5px var(--blue), 10px 10px var(--pink);
	}
	50%{
		transform: translate(10px, -10px);
		text-shadow: 10px 10px var(--blue), 20px 20px var(--pink);
	}
	100%{
		transform: translate(0, 0);
		text-shadow: 5px 5px var(--blue), 10px 10px var(--pink);

	}
}

.title {
	font-size: 5rem;
	margin-bottom: 20px;
	text-shadow: 5px 5px var(--blue), 10px 10px var(--pink);
	/* animation: floating 2s ease-in-out infinite; */
}

.subtitle {
	font-size: 2rem;
	margin-bottom: 20px;
}
