:root {
	--blue: #08b0d5;
	--pink: #e3447c;
	--black: #000000;
	--white: #ffffff;
	--text-shadow: black 7px 7px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
}
